{% extends "base.jinja" %}

{% block title %}
Наши Клиенты
{% endblock %}

{% block content %}

<section class="clients-section">
    <div class="main-heading">
        Наши Клиенты
    </div>
    <div class="clients">
        {% for filename, description, link in clients %}
            <div>
                <a target="_blank" href="{{ link }}" title="{{ description }}">
                    <div class="client-img">
                        <img src="static/i/client/{{ filename }}" />
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
</section>

{% endblock %}
