<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="static/i/favicon.ico">
    <link rel="stylesheet" href="{{ main_css }}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <input id="expand-navbar-checkbox" type="checkbox" />
    <section class="navbar-section">
        <div class="navbar">
            <div class="epb-logo"><a href="/"><img class="epb-logo-img" src="static/i/epb-logo.jpg" /></a></div>
            <label for="expand-navbar-checkbox" class="expand-navbar-label"
                onclick="this.firstElementChild.classList.toggle('open');">
                <div id="hamburger"><span></span><span></span><span></span><span></span></div>
            </label>
            <div class="navbar-links">
                <div><a id="solutions-dropdown" class="dropdown">
                        <span class="toggle">Решения</span>
                        <div class="dropdown-content-wrapper">
                            <div class="dropdown-content">
                                {% for title, description in solutions %}
                                <div class="dropdown-content-block">
                                    <div class="dropdown-content-heading"><span class="dropdown-content-heading-text"
                                            onclick="location.pathname='/solutions'">{{ title }}</span></div>
                                    <div class="dropdown-content-block-content">{{ description }}</div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </a></div>
                <div><a href="/#clients" onclick="toggle_clients(); follow_navbar_anchor();">Клиенты</a></div>
                <div><a href="/#licenses" onclick="follow_navbar_anchor();">Лицензии</a></div>
                <div><a href="/#partners" onclick="follow_navbar_anchor();">Партнеры</a></div>
                <div><a href="/#contact" onclick="follow_navbar_anchor();">Контакты</a></div>
            </div>
        </div>
    </section>
    {% block content %}{% endblock %}
    <section class="footer-section">
        <div class="footer-content">
            <div class="years">
                &#169; 2013–<span id="footer-year">2022</span> ЗАО НПП "ЭПБ"<span style="color: #6c757d"><a
                        href="/legal">
                        Правовая
                        информация</a></span>
            </div>
            <div class="contact text-align-right">
                +7 (495) 780-35-98
                <br>
                <a href="mailto:info@npp-epb.ru">info@npp-epb.ru</a>
            </div>
        </div>
    </section>
    <script>
        var base_resize_timer = 0;
        function follow_navbar_anchor() {
            const expand_navbar_checkbox = document.getElementById('expand-navbar-checkbox');
            const hamburger = document.getElementById('hamburger');
            expand_navbar_checkbox.checked = false;
            hamburger.classList.remove('open');
        }
        function toggle_clients() {
            const checkbox = document.getElementById('expand-clients-checkbox');
            checkbox.checked = !checkbox.checked;
        }
        function base_on_load() {
            const footer_year = document.getElementById('footer-year');
            footer_year.innerText = new Date().getFullYear();
            if (window.matchMedia('(max-width: 858px)').matches)
                document.getElementById('solutions-dropdown').href = '/solutions';
        }
        function base_do_resize() {
            const solutions_dropdown = document.getElementById('solutions-dropdown');
            if (window.matchMedia('(max-width: 858px)').matches)
                solutions_dropdown.href = '/solutions';
            else
                solutions_dropdown.removeAttribute('href');
        }
        function base_on_resize() {
            clearTimeout(base_resize_timer);
            base_resize_timer = setTimeout(base_do_resize, 500);
        }
        window.addEventListener('load', base_on_load);
        window.addEventListener('resize', base_on_resize);
    </script>
</body>

</html>