{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="static/splide/splide.min.css">
{% endblock %}

{% block title %}Эксперт по безопасности{% endblock %}

{% block content %}

    <div class="heading-2" id="clients">
        Наши Клиенты
    </div>

    <input id="expand-clients-checkbox" type="checkbox" />
    <section class="clients-section">
        <div class="clients">
            {% set max_shown_clients = 16 %}
            {% for filename, description, link in clients %}
                {% if loop.index > max_shown_clients %}
                <div class="hidden-client">
                {% else %}
                <div>
                {% endif %}
                    <a target="_blank" href="{{ link }}" title="{{ description }}">
                        <div class="client-img">
                            {% if loop.index > max_shown_clients %}
                            <img src="static/i/client/{{ filename }}" loading="lazy" />
                            {% else %}
                            <img src="static/i/client/{{ filename }}" />
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
    </section>

    <label class="expand-clients-label" for="expand-clients-checkbox">
        <div class="triangle-down"></div>
    </label>

    <section class="licenses-section" id="licenses">
        <div class="heading-2">
            Лицензии
        </div>
        <div class="licenses">
            {% for filename, description in licenses.items() %}
            {% set name, ext = extract_name_and_ext(filename) %}
            <div>
                <div class="license-img">
                    <a target="_blank" href="static/i/license/orig/{{ filename }}"><img
                            src="static/i/license/preview/{{ name }}-preview.{{ ext }}" /></a>
                </div>
                <div class="license-description">{{ description }}</div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="partners-section" id="partners">
        <div class="heading-2">
            Наши Партнеры
        </div>

        <div class="splide" style="margin: auto;">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slide in partners_slides %}
                        <div class="splide__slide">
                            <div class="partners flex">
                                {% for filename, title, description, link in slide %}
                                <div class="partner">
                                    <a target="_blank" href="{{ link }}"><img src="static/i/partner/{{ filename }}"></a>
                                    <div class="partner-info">
                                        <div class="partner-heading">{{ title }}</div>
                                        <div class="partner-description">{{ description }}</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="contact-section" id="contact">
        <div class="yandex-maps">
            <div class="yandex-maps-panel">
                <div class="yandex-maps-panel-heading">
                    Контакты
                </div>
                <div>
                    Главный офис:
                    <br>
                    127018, Москва, ул.Октябрьская, д.38, корп. 1
                </div>
                <div>
                    Доп. офис:
                    <br>
                    107023, Москва, ул.Электрозаводская, д.24, стр. 1
                </div>
                <div>
                    Тел./факс: +7(495) 780-35-98
                    <br>
                    <a href="mailto:info@npp-epb.ru">info@npp-epb.ru</a>
                </div>
            </div>
            <iframe id="yandex-maps" height="500" frameborder="0" allowfullscreen="true" style="position:relative; width: 100%;"></iframe>
        </div>
        <div class="details">
            <div class="details-heading">
                Реквизиты
            </div>
            <div class="details-content">
                Закрытое акционерное общество Научно-производственное предприятие "Эксперт по безопасности"<br>
                Адрес: 127018, г. Москва, ул. Октябрьская, д. 38, корп. 1<br>
                Тeл. +7 (495) 780-35-98 (факс)<br>
                ИНН 7715912872/ КПП 771501001<br>
                АО "АЛЬФА-БАНК"<br>
                Р/с 40702810402840000096<br>
                БИК 044525593, К/с 30101810200000000593<br>
                Код по ОКПО: 09223339<br>
                Код по ОКВЭД: 72.30<br>
            </div>
        </div>
    </section>
    <script>
        var resize_timer = 0;
        function do_resize() {
            if (!window.matchMedia("(max-width: 858px)").matches)
                window['yandex-maps'].src = "https://yandex.ru/map-widget/v1/-/CCU5ZHEv8C";
            else
                window['yandex-maps'].src = "";
        }
        function on_resize() {
            clearTimeout(resize_timer);
            resize_timer = setTimeout(do_resize, 500);
        }
        window.addEventListener('load', do_resize);
        window.addEventListener('resize', on_resize);
    </script>

    <script src="static/splide/splide.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var splide = new Splide('.splide', {
            width: '95vw',
            autoHeight: true,
            autoplay: true,
            interval: 7500,
            rewind: true,
            pagination: false,
            arrows: false,
        });
        splide.mount();
    });
    </script>
{% endblock %}
