<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="static/i/favicon.ico">
    <link rel="stylesheet" href="{{ main_css }}">
    <title>Эксперт по безопасности</title>
</head>

<body>
    <input id="expand-navbar-checkbox" type="checkbox" />
    <section class="navbar-section">
        <div class="navbar">
            <div class="epb-logo"><a href="/"><img class="epb-logo-img" src="static/i/epb-logo.jpg" /></a></div>
            <label for="expand-navbar-checkbox" class="expand-navbar-label">
                <div id="hamburger" onclick="this.classList.toggle('open');"><span></span><span></span><span></span><span></span></div>
            </label>
            <div class="navbar-links">
                <div><a class="dropdown">
                    <span style="cursor: pointer;">Решения</span>
                    <div class="dropdown-content-wrapper">
                        <div class="dropdown-content">
                            {% for title, description in solutions %}
                            <div class="dropdown-content-block">
                                <div class="dropdown-content-heading">
                                    {{ title }}
                                </div>
                                <div class="dropdown-content-block-content">
                                    {{ description }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </a></div>
                <div><a href="#clients"  onclick="follow_navbar_anchor();">Клиенты</a></div>
                <div><a href="#licenses" onclick="follow_navbar_anchor();">Лицензии</a></div>
                <div><a href="#contact"  onclick="follow_navbar_anchor();">Контакты</a></div>
            </div>
        </div>
    </section>

    <div class="heading-2" id="clients">
        Наши Клиенты
    </div>

    <input id="expand-clients-checkbox" type="checkbox" />
    <section class="clients-section">
        <div class="clients">
            {% set max_shown_clients = 16 %}
            {% for filename, description, link in clients %}
                {% if loop.index > max_shown_clients %}
                <div class="hidden-client">
                {% else %}
                <div>
                {% endif %}
                    <a target="_blank" href="{{ link }}" title="{{ description }}">
                        <div class="client-img">
                            {% if loop.index > max_shown_clients %}
                            <img src="static/i/client/{{ filename }}" loading="lazy" />
                            {% else %}
                            <img src="static/i/client/{{ filename }}" />
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
    </section>

    <label class="expand-clients-label" for="expand-clients-checkbox">
        <div class="triangle-down"></div>
    </label>

    <section class="licenses-section" id="licenses">
        <div class="heading-2">
            Лицензии
        </div>
        <div class="licenses">
            {% for filename, description in licenses.items() %}
            {% set name, ext = extract_name_and_ext(filename) %}
            <div>
                <div class="license-img">
                    <a target="_blank" href="static/i/license/orig/{{ filename }}"><img
                            src="static/i/license/preview/{{ name }}-preview.{{ ext }}" /></a>
                </div>
                <div class="license-description">{{ description }}</div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="contact-section" id="contact">
        <div class="yandex-maps">
            <div class="yandex-maps-panel">
                <div class="yandex-maps-panel-heading">
                    Контакты
                </div>
                <div>
                    Главный офис:
                    <br>
                    127018, Москва, ул.Октябрьская, д.38, корп. 1
                </div>
                <div>
                    Доп. офис:
                    <br>
                    107023, Москва, ул.Электрозаводская, д.24, стр. 1
                </div>
                <div>
                    Тел./факс: +7(495) 780-35-98
                    <br>
                    <a href="mailto:info@npp-epb.ru">info@npp-epb.ru</a>
                </div>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/-/CCU5ZHEv8C" height="500" frameborder="0" allowfullscreen="true" style="position:relative; width: 100%;"></iframe>
        </div>
        <div class="details">
            <div class="details-heading">
                Реквизиты
            </div>
            <div class="details-content">
                Закрытое акционерное общество Научно-производственное предприятие "Эксперт по безопасности"<br>
                Адрес: 127018, г. Москва, ул. Октябрьская, д. 38, корп. 1<br>
                Тeл. +7 (495) 780-35-98 (факс)<br>
                ИНН 7715912872/ КПП 771501001<br>
                АО "АЛЬФА-БАНК"<br>
                Р/с 40702810402840000096<br>
                БИК 044525593, К/с 30101810200000000593<br>
                Код по ОКПО: 09223339<br>
                Код по ОКВЭД: 72.30<br>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="footer-content">
            <div class="years">
                &#169; 2013–<span id="footer-year">2022</span> ЗАО НПП "ЭПБ"<span style="color: #6c757d"><a href="/legal">
                        Правовая
                        информация</a></span>
            </div>
            <div class="contact text-align-right">
                +7 (495) 780-35-98
                <br>
                <a href="mailto:info@npp-epb.ru">info@npp-epb.ru</a>
            </div>
        </div>
    </section>

    <script>
        function follow_navbar_anchor() {
            window['expand-navbar-checkbox'].checked = false;
            window['hamburger'].classList.remove('open');
        }
        window.onload = function() {
            document.getElementById('footer-year').innerText = new Date().getFullYear();
        };
    </script>
</body>

</html>