{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ legal_css }}">
{% endblock %}

{% block title %}
Правовая Информация
{% endblock %}

{% block content %}

<div class="heading-2">
    ПРАВОВАЯ ИНФОРМАЦИЯ
</div>

<section class="legal-section">
    Все материалы, размещенные на сайте www.npp-epb.ru являются собственностью ЗАО НПП «ЭПБ».<br><br>
    Все права на материалы, опубликованные на сайте www.npp-epb.ru, за исключением особо оговоренных случаев, принадлежат ЗАО НПП «ЭПБ».<br><br>
    Ни один из материалов не может быть использован полностью или частично без ссылки на первоисточник. Во всех случаях, в соответствии с действующим законодательством Российской Федерации, ссылка на первоисточник должна представлять собой активную гиперссылку, размещенную на видном месте, и хорошо читаться. Во избежание заблуждения третьих лиц при размещении статей полностью или частично запрещается изменять содержание статей, удалять подпись автора, благодарности, выраженные людям или организациям.<br><br>
    По вопросам, связанным с использованием материалов сайта www.npp-epb.ru, вы можете обратиться по телефону +7 (495) 780-35-98 или по почте info@npp-epb.ru.
</section>

{% endblock %}
