{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ fixed_footer_css }}">
{% endblock %}

{% block title %}
Продукция
{% endblock %}

{% block content %}

<section class="products-section">
    <div class="main-heading">
        Продукция
    </div>
</section>

{% endblock %}
