{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ fixed_footer_css }}">
{% endblock %}

{% block title %}
Продукция
{% endblock %}

{% block content %}

<div class="main-heading">
    Продукция
</div>

{% endblock %}
